.users-table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logos_td {
    margin-left: 10px;
    cursor: pointer;
}

.users-table th,
.users-table td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: center;
}

.users-table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.users-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.users-table tr:hover {
    background-color: #f1f1f1;

}