{% load custom_filters %}
{% if page_obj %}
<table class="attendance-table table table-hover align-middle mb-0">
    <thead class="table-primary text-white">
        <tr>
            <th>کاربر</th>
            <th>وضعیت</th>
            <th>تاریخ و ساعت</th>
            <th>ساعت کاری روز</th>
            <th>تأیید شده توسط</th>
            <th>دستگاه</th>
        </tr>
    </thead>
    <tbody>
        {% for att in page_obj %}
            <tr>
                <td>{{ att.user.first_name }} {{ att.user.last_name }}</td>
                <td>{{ att.event_type }}</td>
                <td>{{ att.timestamp|date:"Y-m-d H:i" }}</td>
                <td>
                    {% with hours=work_hours_dict|get_daily_hours:att %}
                        {% if hours %}
                            <strong>{{ hours|floatformat:1 }}</strong> ساعت
                        {% else %}
                            <span class="text-muted">—</span>
                        {% endif %}
                    {% endwith %}
                </td>
                <td>{{ att.verified_by|default:"-" }}</td>
                <td>{{ att.device_id|default:"-" }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-center mt-3">
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        hx-get="?page={{ page_obj.previous_page_number }}{% if request.GET.user %}&user={{request.GET.user}}{% endif %}{% if request.GET.event_type %}&event_type={{request.GET.event_type}}{% endif %}{% if request.GET.start_date %}&start_date={{request.GET.start_date}}{% endif %}{% if request.GET.end_date %}&end_date={{request.GET.end_date}}{% endif %}"
                        hx-target="#reportResults"
                        hx-swap="innerHTML">
                        قبلی
                    </a>
                </li>
            {% endif %}

            <li class="page-item active"><span class="page-link">{{ page_obj.number }}</span></li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        hx-get="?page={{ page_obj.next_page_number }}{% if request.GET.user %}&user={{request.GET.user}}{% endif %}{% if request.GET.event_type %}&event_type={{request.GET.event_type}}{% endif %}{% if request.GET.start_date %}&start_date={{request.GET.start_date}}{% endif %}{% if request.GET.end_date %}&end_date={{request.GET.end_date}}{% endif %}"
                        hx-target="#reportResults"
                        hx-swap="innerHTML">
                        بعدی
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>

{% else %}
<div class="text-center py-4 text-muted">هیچ داده‌ای یافت نشد</div>
{% endif %}
