{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}ثبت ساعت{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>

    <aside id="sidebar">
      {% block side_bar %}{% endblock %}
    </aside>

    <main>{% block content %}{% endblock %}</main>

    <script src="{% static 'js/base.js' %}"></script>

    {% block extra_js %}{% endblock %}
  </body>
</html>
